---
import {Image} from "astro:assets";
import logo from "../assets/logos.png";
import "~/styles/index.css";
---
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>Essence Of You LLC. Inquiry Received</title>
</head>
<body
        class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary bg-dark selection:text-white p-4"
>
<div class="relative text-default text-base">

    <div class="sticky top-0 h-screen flex flex-col items-center justify-evenly">
        <h2 class="text-4xl font-quicksand text-center">
            Thank You.<br />
            Our offices have received your request<br />
            Keep an eye out for our reply
        </h2>
        <p class="">Scroll Down</p>
        <span class="pointer-events-none"><svg class="h-8 w-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg></span>
    </div>
    <div class="sticky top-0 h-screen flex flex-col items-center justify-evenly bg-dark bg-purple-600">
        <h2 class="text-4xl font-quicksand text-center">
            Hard times can be opportunities for growth.<br />
            Instead of resisting them, <br />
            use them as a chance to discover <br />
            a new essence <br />
            of strength and stability.
        </h2>
        <p>Scroll Down</p>
        <span class="pointer-events-none"><svg class="h-8 w-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg></span>
    </div>
    <div class="sticky top-0 h-screen flex flex-col items-center justify-evenly bg-dark bg-neutral-800 p-4">
        <a href="/" class="p-0 m-o w-1/2">
        <Image
                slot="startLogo"
                src={logo}
                loading="eager"
                id="logo"
                alt="essence of you logo, an african violet"
        />
        </a>
    </div>
</div>
</body>
<script>
    // Find all buttons with the `alert` class on the page.
    import * as url from "url";

    const imageClick = document.querySelector('#logo');

    // Handle clicks on each button.
    imageClick.addEventListener('click', () => {
            url;
    });
</script>