---
import { Image } from "astro:assets";
import Alisha from "~/assets/Alisha.png";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="bg-offset drop-shadow-2xl">
  <div id="alishaIntro"></div>
  <div class="grid place-items-start gap-2 p-6 h-auto grid-cols-1 md:grid-cols-3 md:gap-10">
    <div class="col-span-2 justify-items-start ">
      <h2 class="gradient-text text-left font-bold font-quicksand tracking-tighter text-6xl pb-4">
        Alisha Diggs, Ph.D, LPC-S
      </h2>
      <span class="font-quicksand text-2xl">
        Welcome to a space where your journey toward a brighter tomorrow begins! With over 12 years of experience, counseling, for me, is more than just problem-solving; it embodies understanding, trust, and growth. We will work together to navigate challenges and craft a vision for the life you deserve. In my therapy space, there are no one-size-fits-all solutions. I'll listen, support, and guide you with respect, sensitivity, and compassion. I am inclusive and celebratory, especially for the LGBTQ+ and BIPOC communities. I'm here as your dedicated ally. Together, let's unlock your potential for growth, healing, and joy!
      </span>
    </div>
    <div id="Alisha" class="h-full w-full font-quicksand">
      <div class="p-0 bg-gradient-to-b from-primary from-20% via-transparent via-90% ">
        <Image
          class="p-0"
          src={Alisha}
          widths={widths}
          sizes={sizes}
          alt="photo of Dr. Alisha Diggs. She is in a yellow dress and has beatiful small locs a pretty smile"
          loading="lazy"
          decoding="async"
        />
        <br />
        <div class="text-l bg-offset text-center">
          Areas of Focus:
        </div>
        <ul class="list-inside list-disc">
          <li class="px-4">Stress/Anxiety</li>
          <li class="px-4">Depression</li>
          <li class="px-4">Relationships</li>
          <li class="px-4">Self Esteem/Self Love</li>
          <li class="px-4">Motivation</li>
          <li class="px-4">LGBTQ+</li>
          <li class="px-4">Family conflicts</li>
          <li class="px-4">Intimacy-related issues</li>
          <li class="px-4">Parenting issues</li>
          <li class="px-4">Coping with life changes</li>
          <li class="px-4">Compassion fatigue</li>
          <li class="px-4">Blended Family Issues</li>
          <li class="px-4">Codependency</li>
          <li class="px-4">Commitment Issues</li>
          <li class="px-4">Divorce and Separation</li>
          <li class="px-4">Family of Origin Issues</li>
          <li class="px-4">Family Problems</li>
          <li class="px-4">Polyamory / Nonmonogamous Relationships</li>
        </ul>
      </div>
    </div>
  </div>
</section>
