---
import HeroImage from "~/components/hero-image.astro";
//import type { FooterLink } from "~/types";

// const links: Array<FooterLink> = [
//   {
//     url: "mailto:info@essenceofyou.care?subject=Site based inquiry",
//     description: "email",
//     icon: "mdi:mail",
//   },
//   {
//     url: "https://github.com/mhyfritz/astro-landing-page",
//     description: "View source on GitHub",
//     icon: "fa-brands:github-alt",
//   },
//   {
//     url: "https://astro.build/chat",
//     description: "Astro on Discord",
//     icon: "fa-brands:discord",
//   },
//   {
//     url: "https://twitter.com/astrodotbuild",
//     description: "Astro on Twitter",
//     icon: "fa-brands:twitter",
//   },
// ];
---
<footer id="footer" class="relative grid grid-cols-2 items-center justify-center font-quicksand overflow-hidden p-2">
    <div class="absolute inset-0 overflow-hidden opacity-20">
        <HeroImage/>
    </div>
    <section class="col-span-2 gradient-text text-center font-quicksand font-extrabold tracking-tight text-6xl md:col-span-1">
        Have questions or would like to schedule an appointment?
    </section>
    <form
            data-netlify="true"
            data-netlify-honeypot="bot-field"
            name="contact"
            method="POST"
            action="/success"
            class="relative w-full max-w-4xl py-2 px-4 col-span-2 md:col-span-1"
    >
        <div class="-mx-3 mb-3 flex flex-wrap">
            <div class="mb-3 w-full px-3 md:mb-3 ">
                <p class="hidden">
                    <label>
                        Don’t fill this out if you’re human: <input name="bot-field" />
                    </label>
                </p>
                <label
                        class="mb-2 block font-bold uppercase tracking-wide text-offset text-xs">
                    First Name
                    <input
                            class="mb-1 block w-full appearance-none rounded border border-gray-200 bg-offset px-4 py-3 leading-tight text-offset focus:bg-offset focus:outline-none"
                            name="first-name"
                            type="text"
                            pattern="[A-Za-z]{1,32}"
                            placeholder="Jane"
                            minlength="2"
                            maxlength="32"
                            required
                    />
                </label>
            </div>
                <div class="w-full px-3">
                    <label
                            class="mb-2 block font-bold uppercase tracking-wide text-offset text-xs">
                        Last Name
                        <input
                                class="mb-1 block w-full appearance-none rounded border border-gray-200 bg-offset px-4 py-3 leading-tight text-offset focus:border-gray-500 focus:bg-offset focus:outline-none"
                                name="last-name"
                                type="text"
                                pattern="[A-Za-z]{1,32}"
                                placeholder="Doe"
                                minlength="2"
                                maxlength="32"
                                required
                        />
                    </label>
                </div>
        </div>
            <div class="-mx-3 mb-3 flex flex-wrap">
                <div class="mb-3 w-full px-3 md:mb-0 md:w-1/3">
                    <label
                            class="mb-2 block font-bold uppercase tracking-wide text-offset text-xs">
                        Email
                        <input
                                class="mb-1 block w-full appearance-none rounded border border-gray-200 bg-offset px-4 py-3 leading-tight text-offset focus:border-gray-500 focus:bg-offset focus:outline-none"
                                name="email"
                                type="email"
                                pattern="(?![_.-])((?![_.-][_.-])[\w.-]){0,63}[a-zA-Z\d]@((?!-)((?!--)[a-zA-Z\d-]){0,63}[a-zA-Z\d]\.){1,2}([a-zA-Z]{2,14}\.)?[a-zA-Z]{2,14}"
                                size="30"
                                placeholder="jdoe@email.com"
                                required
                        />
                    </label>
                </div>
                <div class="mb-3 w-full px-3 md:mb-0 md:w-1/3">
                    <label class="mb-2 block font-bold uppercase tracking-wide text-offset text-xs">
                        State
                        <span class="relative">
                            <select
                                    class="block w-full appearance-none rounded border border-gray-200 bg-offset px-4 py-3 pr-8 leading-tight text-offset focus:border-gray-500 focus:bg-offset focus:outline-none"
                                    name="state"
                                    required
                            >
                                <option>AL : Alabama</option>
                                <option>AK : Alaska</option>
                                <option>AZ : Arizona</option>
                                <option>AR : Arkansas</option>
                                <option>CA : California</option>
                                <option>CO : Colorado</option>
                                <option>CT : Connecticut</option>
                                <option>DC : District of Columbia</option>
                                <option>DE : Delaware</option>
                                <option>FL : Florida</option>
                                <option>GA : Georgia</option>
                                <option>HI : Hawaii</option>
                                <option>ID : Idaho</option>
                                <option>IL : Illinois</option>
                                <option>IN : Indiana</option>
                                <option>IA : Iowa</option>
                                <option>KS : Kansas</option>
                                <option>KY : Kentucky</option>
                                <option selected>LA : Louisiana</option>
                                <option>ME : Maine</option>
                                <option>MD : Maryland</option>
                                <option>MA : Massachusetts</option>
                                <option>MI : Michigan</option>
                                <option>MN : Minnesota</option>
                                <option>MS : Mississippi</option>
                                <option>MO : Missouri</option>
                                <option>MT : Montana</option>
                                <option>NE : Nebraska</option>
                                <option>NV : Nevada</option>
                                <option>NH : New Hampshire</option>
                                <option>NJ : New Jersey</option>
                                <option>NM : New Mexico</option>
                                <option>NY : New York</option>
                                <option>NC : North Carolina</option>
                                <option>ND : North Dakota</option>
                                <option>OH : Ohio</option>
                                <option>OK : Oklahoma</option>
                                <option>OR : Oregon</option>
                                <option>PA : Pennsylvania</option>
                                <option>RI : Rhode Island</option>
                                <option>SC : South Carolina</option>
                                <option>SD : South Dakota</option>
                                <option>TN : Tennessee</option>
                                <option>TX : Texas</option>
                                <option>UT : Utah</option>
                                <option>VT : Vermont</option>
                                <option>VA : Virginia</option>
                                <option>WA : Washington</option>
                                <option>WV : West Virginia</option>
                                <option>WI : Wisconsin</option>
                                <option>WY : Wyoming</option>
                            </select>
                            <span
                                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-offset"
                            >
                                <svg
                                        class="h-4 w-4 fill-current"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                >
                                    <path
                                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                                    ></path>
                                </svg
                                >
                            </span>
                        </span>
                    </label>
                </div>
                <div class="mb-3 w-full px-3 md:mb-0 md:w-1/3">
                    <label
                            class="mb-2 block font-bold uppercase tracking-wide text-offset text-xs">
                        Phone
                        <input
                                class="block w-full appearance-none rounded border border-gray-200 bg-offset px-4 py-3 leading-tight text-offset focus:border-gray-500 focus:bg-offset focus:outline-none"
                                name="phone"
                                type="tel"
                                pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                                placeholder="2257779311"
                        />
                    </label>
                </div>
            </div>
            <div class="-mx-3 mb-3 flex flex-wrap">
                <div class="w-full px-3">
                    <label
                            class="mb-2 block font-bold uppercase tracking-wide text-offset text-xs">
                        Reason Summary
                        <input
                                class="mb-1 block w-full appearance-none rounded border border-gray-200 bg-offset px-4 py-3 leading-tight text-offset focus:border-gray-500 focus:bg-offset focus:outline-none"
                                name="reason"
                                type="text"
                                minlength="7"
                                maxlength="500"
                                placeholder="Example: Commitment Issues, Marriage Counseling, or something like Supervision"
                                required
                        />
                    </label>
                    <p class="italic text-primary text-xs">This form is not intended for crisis situations and urgent needs. If in crisis, please call 988, 911, or visit the nearest emergency room.
                    </p>
                </div>
            </div>
        <div class="-mx-3 mb-3 flex flex-wrap flex-row-reverse">
            <div class="w-auto px-3 justify-self-end">
                <button
                        class="focus:border-offset rounded border border-gray-200 bg-primary px-4 py-2 font-bold text-white hover:border-primary"
                        type="submit"
                >
                    Send
                </button>
            </div>
        </div>
        <!--<ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">-->
        <!--  {-->
        <!--    links.map((link) => (-->
        <!--      <li>-->
        <!--        <a-->
        <!--            href={link.url}-->
        <!--            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"-->
        <!--        >-->
        <!--          <span class="sr-only">{link.description}</span>-->
        <!--          <Icon class="size-full" name={link.icon} />-->
        <!--        </a>-->
        <!--      </li>-->
        <!--    ))-->
        <!--  }-->
        <!--</ul>-->
    </form>
</footer>
