---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import {Image} from "astro:assets";
import logo from "../assets/logos.png";
---

<ContentSection title="Essence of You" id="home">
  <Image
      slot="startLogo"
      class="w-1/5 filter-none"
      src={logo}
      loading="eager"
      alt="essence of you logo, an african violet"
  />
  <Fragment slot="lead">
    Essence of You Counseling and Consulting, LLC is a mental health practice dedicated
    to offering counseling, consulting, and supervision services online. We focus on
    providing <span class="text-primary">culturally competent care to individuals from
    diverse backgrounds, including different races, ethnicities, and sexual and gender
    identities.</span> Our services include various therapeutic interventions, workshops,
    and consultations aimed at promoting mental health, personal and professional growth,
    community resilience, and increasing access to counseling for underserved populations.
    <span class="text-primary">We prioritize creating a safe, inclusive, and empowering environment</span>
    for clients to explore their experiences, gain insight, and develop strategies for positive change.
  </Fragment>

  <!--<div class="grid grid-cols-1 gap-2 sm:grid-cols-2">-->
  <!--  <a-->
  <!--    href="https://docs.astro.build/"-->
  <!--    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"-->
  <!--  >-->
  <!--    <Icon name="mdi:person" class="size-8" />-->
  <!--    <span>Download current</span>-->
  <!--  </a>-->
  <!--  <a-->
  <!--    href="https://astro.new/"-->
  <!--    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"-->
  <!--  >-->
  <!--    <Icon name="mdi:rocket" class="size-8" />-->
  <!--    <span>Try it out</span>-->
  <!--  </a>-->
  <!--</div>-->
</ContentSection>
