---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import {Image} from "astro:assets";
import logo from "../assets/logos.png";
---

<ContentSection title="Essence of You" id="home">
  <Image
      slot="startLogo"
      class="w-1/5 filter-none"
      src={logo}
      loading="eager"
      alt="essence of you logo, an african violet"
  />
  <Fragment slot="lead">
    Essence of You Counseling and Consulting, LLC is a mental health practice dedicated to offering
    counseling, consulting, and supervision services online. Our focus is on providing <span class="text-primary">culturally
    competent care to individuals from diverse backgrounds, including various professions, races,
    ethnicities, and sexual and gender identities</span>
    Our services aim to promote mental health, personal and professional growth, and community
    resilience while increasing access to services in underserved populations. Our main priority
    is to <span class="text-primary">create a safe, inclusive, and empowering environment for clients
    to explore their experiences,gain insight, and develop strategies for positive change.</span>

  </Fragment>

  <!--<div class="grid grid-cols-1 gap-2 sm:grid-cols-2">-->
  <!--  <a-->
  <!--    href="https://docs.astro.build/"-->
  <!--    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"-->
  <!--  >-->
  <!--    <Icon name="mdi:person" class="size-8" />-->
  <!--    <span>Download current</span>-->
  <!--  </a>-->
  <!--  <a-->
  <!--    href="https://astro.new/"-->
  <!--    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"-->
  <!--  >-->
  <!--    <Icon name="mdi:rocket" class="size-8" />-->
  <!--    <span>Try it out</span>-->
  <!--  </a>-->
  <!--</div>-->
</ContentSection>
