---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import {Image} from "astro:assets";
import logo from "../assets/logos.png";
---

<ContentSection title="Essence of You" id="home">
  <Image
      slot="startLogo"
      class="w-1/5 filter-none"
      src={logo}
      loading="eager"
      alt="essence of you logo, an african violet"
  />
  <Fragment slot="lead">
    Essence of You Counseling and Consulting, LLC was created by dedicated
    mental health professionals committed to providing the community with <span
      class="text-primary"
      >inclusive counseling, consulting, and supervision services through
      telehealth</span
    > With a specialized focus on serving individuals from diverse backgrounds, we
    offer culturally competent care and tailored support to address the unique needs
    and challenges faced by people of all races, ethnicities, and sexual and gender
    identities. Our services encompass a range of therapeutic interventions, workshops,
    and consultations designed to promote mental health and well-being, foster personal
    and professional growth, enhance community resilience, and increase access to
    counseling for individuals in underserved populations. Through a collaborative
    and client-centered approach, <span class="text-primary"
      >we strive to create a safe, inclusive, and empowering environment</span
    > where individuals can explore their experiences, gain insight, and develop
    strategies for positive change.
  </Fragment>

  <!--<div class="grid grid-cols-1 gap-2 sm:grid-cols-2">-->
  <!--  <a-->
  <!--    href="https://docs.astro.build/"-->
  <!--    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"-->
  <!--  >-->
  <!--    <Icon name="mdi:person" class="size-8" />-->
  <!--    <span>Download current</span>-->
  <!--  </a>-->
  <!--  <a-->
  <!--    href="https://astro.new/"-->
  <!--    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"-->
  <!--  >-->
  <!--    <Icon name="mdi:rocket" class="size-8" />-->
  <!--    <span>Try it out</span>-->
  <!--  </a>-->
  <!--</div>-->
</ContentSection>
