---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Adult Individual Counseling",
    icon: "mdi:person",
    cost: "$150/session",
  },
  {
    title: "Couples Counseling",
    icon: "mdi:people-outline",
    cost: "$180/session",
  },
  {
    title: "Free Group Therapy",
    icon: "mdi:people-group",
    cost: "$30 (non-clients)",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Individual Supervision",
    icon: "mdi:notebook",
    cost: "$85 weekly, $350 monthly",
  },
  {
    title: "Group Supervision(50hrs max)",
    icon: "mdi:notebook-multiple",
    cost: "$250 monthly*",
  },
  {
    title: "Workshops and Guided Training",
    icon: "mdi:account-box-multiple",
    cost: "Submit inquiry",
  },
];
---

<ContentSection title="Services & Rates" id="Services">
  <div class="flex flex-col md:grid md:grid-cols-3 gap-6 pb-6"> <!--removed md for flex-->
    <div class="col-span-3 md:col-span-2"> <!--removed md for flex-->
      <section class="flex-auto w-full font-quicksand text-2xl">
        Our <span class="text-primary">100% teletherapy services</span> are currently
        offered on a private pay basis as we do not accept insurance at the moment. However,
        we are happy to provide detailed bills that you can submit for reimbursement
        as an out-of-network provider.
        <br /><br />
        <span class="text-primary">Professional Mental Health Therapy:</span>
        <br />
        Our services provide support in navigating relationships, managing stress, anxiety and depression, grief, family conflict, workplace challenges, identity matters, and achieving personal and professional growth.
      </section>
    </div>
    <div id="serviceImg" class="
     flex-auto
     inset-0
     max-w-full
     min-h-full
     bg-cover
     bg-center
     bg-no-repeat
     bg-[url('/teleheaalth.png')]
     h-80
     w-auto
     md:col-span-1
     ">
    </div>
  </div>
  <CompatibilityList
    items={frameworks}
    title="Professional Mental Health Services"
    cost={frameworks.values()}
  />
  <div class="flex flex-col md:grid md:grid-cols-3 gap-6 py-6">
    <div id="consultingImg" class="
     flex auto
     inset-0
     max-w-full
     min-h-full
     bg-cover
     bg-right-top
     bg-no-repeat
     bg-[url('/counseling.webp')]
     h-80
     w-auto
     md:col-span-1
     ">
    </div>
    <div class="col-span-3 md:col-span-2">
      <section class="font-quicksand text-2xl">
        <span class="text-primary font-quicksand text-2xl">Supervision & Consultation:</span>
        <br />
        We offer a supportive and empowering environment for provisional licensed professional counselors to obtain the resources needed to meet their licensure requirements and professional goals. Additionally, our consulting services are designed to nurture the clinical skills and effectiveness of professionals working with diverse populations, by offering peer support and professional development opportunities.
      </section>
    </div>
  </div>
  <CompatibilityList
    items={platforms}
    title="Supervision & Consultation"
    cost={frameworks.values()}
  />
</ContentSection>
