---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import logo from "../assets/logos.png";
//import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
const widths = [240, 540, 720];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full">
  <Starfield />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <!--<HeroImage />-->
  </div>
  <div class="relative grid gap-2 h-full place-items-center sm:grid-cols-2">

    <div
      id="logo"
      class="flex flex-col items-center self-end sm:gap-4 sm:self-auto sm:justify-self-center"
    >
      <Image
        class="h-full w-full object-cover mix"
        src={logo}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="essence of you logo, an african violet"
      />
    </div>

    <h2
        class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"
    >
      <!--<Icon name="logomark" class="size-24 text-white md:size-32" />-->
      <span class="gradient-text text-left font-quicksand font-extrabold tracking-tighter text-8xl">
        Uncovering
        <br /> Your
        <br /> Authentic
        <br /> Self
      </span>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.01);
    }
  }

  #logo {
    animation: float linear 5.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #logo {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
